<div class="page">
    <div class="row">
        <div class="col-lg-12 text-center heading">
            FOOTBALL UPDATES
        </div>
    </div>


    <!-- CODE FOR COUNTRY LIST -->
    <!-- <div class="row tabsBackground">
        <ul class="navigationHeader tabsSection">
            <li class="nav-item pdr-80" *ngFor="let item of countryList" (click)="countrySelect(item)">
                <a><span [id]="item.name+'Select'">{{item.name}}</span></a>
            </li>
        </ul>
    </div> -->


    <!-- Temporary code -->
    <div class="row tabsBackground">
        <ul class="navigationHeader tabsSection">
            <li class="nav-item pdr-80" *ngFor="let item of countries" (click)="countrySelect(item)">
                <a><span [id]="item.name+'Select'">{{item.name}}</span></a>
            </li>
        </ul>
    </div>

    <div style="padding:2%">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">logo</th>
                    <th scope="col">Name</th>
                    <th scope="col">Games</th>
                    <th scope="col">W</th>
                    <th scope="col">L</th>
                    <th scope="col">D</th>
                    <th scope="col">Goal Difference</th>
                    <th scope="col">Points</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of footballTeamsData">
                    <td>{{item.series}}</td>
                    <td>{{item.logo}}</td>
                    <td (click)="teamClick(item)">{{item.name}}</td>
                    <td>{{item.games}}</td>
                    <td>{{item.won}}</td>
                    <td>{{item.lost}}</td>
                    <td>{{item.draw}}</td>
                    <td>{{item.goalDifference}}</td>
                    <td>{{item.points}}</td>
                </tr>
            </tbody>

        </table>
    </div>
</div>